<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="CarInfors"> 
<!--namespace가 클래스 이름/ 파일이름과 name space동일시하면 좋다  -->
<!-- id는 method의 name과 비슷해서 다 달라야하고 임의로 부여하면 된다  -->
<!--![CDATA[쿼리 내용]] : 특수기호 들어간 경우   xml아니고 쿼리라는 걸 알려주는 방식-->
<!-- #{words} : 외부에서 넣어주는 단어라는 표시  -->
<!-- concat와 , :  쓰면 +한것과 비슷한거: 연결되었을때 사용  -->

<!-- 검색 --> 
    <select id="selectSearch" parameterType="Map" resultType="Map">
        SELECT*
        FROM db_cars.car_infors
        WHERE 1 = 1   
 <choose>
    <when test="search == 'YEAR'">
    <![CDATA[
     and YEAR > #{words}
     ]]>
    </when>
    <otherwise>
      and CAR_NAME like CONCAT(#{words}, '%') 
    </otherwise>
  </choose>
        
	</select>

<!-- 전체 --> 
    <select id="selectAll" parameterType="Map" resultType="Map">
        SELECT*
        FROM db_cars.car_infors
        WHERE 1 = 1   
          <!--쿼리문을 동적으로만들어주기 위해서 -->
        <!-- 왼쪽은 컬럼 이름,오른쪽은 외부에서 받아온 변수값이기 때문에 표시 -->
	</select> 

<!-- 상세 --> 
    <select id="selectByUID" parameterType="Map" resultType="Map">
        SELECT*
        FROM db_cars.car_infors
        WHERE CAR_INFOR_ID = #{CAR_INFOR_ID}
        <!-- 왼쪽은 컬럼 이름,오른쪽은 외부에서 받아온 변수값이기 때문에 표시 -->
	</select>

<!-- 입력 --> 
    <insert id="insert" parameterType="Map" >
        INSERT INTO car_infors
        (CAR_NAME, YEAR, CAR_INFOR_ID, COMPANY_ID)
        VALUES
        (#{CAR_NAME}, #{YEAR}, #{CAR_INFOR_ID}, #{COMPANY_ID})
    </insert>

<!-- 앞의 update는 mybatis위한 것/id는 이 페이지에서만 유니크하면 됨 -->

<!-- 수정  -->
    <update id="update" parameterType="Map" >
        UPDATE car_infors
        SET CAR_NAME = #{CAR_NAME}
        WHERE CAR_INFOR_ID = #{CAR_INFOR_ID}
    </update>


<!-- 삭제 -->
  <delete id="delete" parameterType="Map" >
       DELETE FROM car_infors
        WHERE CAR_INFOR_ID =  #{CAR_INFOR_ID}
    </delete>

</mapper>